/* .nav {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 30px;
  color: black;
} */

.logo h1 {
  margin: 0;
}

.scores {
  display: flex;
  gap: 20px;
  font-weight: bold;
}

.nav {
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}