.result-card {
  width: 60%;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 12px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 20px;
  margin-top: 30px;
}

.text-section {
  text-align: center;
}

.label {
  font-size: 20px;
  margin: 5px 0;
}

.score {
  font-size: 28px;
  font-weight: bold;
  color: #6a59ff;
}

.play-btn {
  background-color: #ffce27;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.result-img {
  width: 250px;
}